/* COLORS */
/* SIZES */
/*================================================
STYCKY FOOTER
================================================*/
body, html {
  height: 100%; }

#page-wrap {
  position: relative;
  min-height: 100%;
  margin-bottom: -22px; }

#page-wrap:after {
  content: "";
  display: block; }

footer, #page-wrap:after {
  /*    height: $footer-height !important;*/ }

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #000000;
  z-index: 20; }

@font-face {
  font-family: "Galano";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Galano Grotesque/Galano Grotesque.woff") format("woff"); }
@font-face {
  font-family: "Galano-Light";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Galano Grotesque/Galano Grotesque Light.woff") format("woff"); }
@font-face {
  font-family: "Galano-Bold";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Galano Grotesque/Galano Grotesque Bold.woff") format("woff"); }
@font-face {
  font-family: "Galano-Italic";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Galano Grotesque/Galano Grotesque Italic.woff") format("woff"); }
@font-face {
  font-family: "Galano-Alt-Bold";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Galano Grotesque/Galano Grotesque Alt DEMO Bold.woff") format("woff"); }
/*================================================
CLASSES
================================================*/
.arrow, a, .home-page .svg-map * {
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out; }

nav menu, #mobile-menu ul, #slider .sl-nav, .property-menu {
  list-style: none;
  margin: 0;
  padding: 0; }

.bg-black {
  background-color: #000000; }

.bg-white {
  background-color: #ffffff; }

.bg-gray {
  background-color: #595555; }

.bg-red {
  background-color: #5f0012; }

.bg-blue {
  background-color: #004563; }

.bg-image, .pr-large-image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.button {
  display: inline-block;
  position: relative;
  height: 38px;
  line-height: 38px;
  font-family: 'Lato', sans-serif;
  font-size: 12px;
  color: #ffffff;
  padding: 0 20px;
  background-color: rgba(0, 0, 0, 0.3); }
  .button > span {
    position: relative; }
  .button::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: "";
    background-color: rgba(0, 0, 0, 0.3);
    opacity: 0;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    -webkit-transition: all 0.4s cubic-bezier(0.77, 0, 0.175, 1);
    -moz-transition: all 0.4s cubic-bezier(0.77, 0, 0.175, 1);
    transition: all 0.4s cubic-bezier(0.77, 0, 0.175, 1); }
  .button:hover, .button:focus {
    color: #ffffff;
    text-decoration: none; }
    .button:hover::before, .button:focus::before {
      opacity: 1;
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      -ms-transform: scale(1);
      -o-transform: scale(1);
      transform: scale(1); }

.arrow {
  position: relative;
  display: block;
  height: 48px;
  width: 48px;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
  line-height: 48px;
  /*    background-image: url(../img/rect-down.png);
      background-position: center;
      background-repeat: no-repeat;
      background-size: 20px 12px;*/
  z-index: 16; }
  .arrow img {
    position: relative; }
  .arrow::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    content: "";
    opacity: 0;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    -webkit-transition: all 0.4s cubic-bezier(0.77, 0, 0.175, 1);
    -moz-transition: all 0.4s cubic-bezier(0.77, 0, 0.175, 1);
    transition: all 0.4s cubic-bezier(0.77, 0, 0.175, 1); }
  .arrow::after {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 12px;
    width: 20px;
    content: "";
    margin-left: -10px;
    margin-top: -6px;
    background-image: url(../img/rect-down.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 20px 12px; }
  .arrow:hover::before {
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); }
  .arrow.arrow-left {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg); }
  .arrow.arrow-right {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg); }
  .arrow.arrow-top {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg); }

.content {
  max-width: 490px;
  position: absolute;
  top: 50%;
  top: -webkit-calc(50% - 60px);
  top: calc(50% - 60px);
  right: 0;
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%); }
  .content article {
    position: relative;
    margin: 0 60px 0 110px;
    padding-left: 40px; }
    .content article::after {
      position: absolute;
      top: 10px;
      left: 0;
      content: "";
      width: 3px;
      height: 110px;
      background-color: #00aeef; }
    @media (max-width: 767px) {
      .content article {
        padding: 0 30px; } }
  .content.right {
    float: right; }
  .content.left {
    float: left;
    padding-left: 75px;
    left: 0; }
    .content.left article {
      margin: 0 0px 0 85px; }
  @media (max-width: 991px) {
    .content {
      position: relative;
      -webkit-transform: none;
      -moz-transform: none;
      -ms-transform: none;
      -o-transform: none;
      transform: none; }
      .content article {
        margin: 0 !important; }
      .content.right, .content.left {
        padding: 0;
        float: none; } }

.title {
  font-family: "Galano-Light";
  font-size: 45px;
  line-height: 40px;
  font-weight: normal;
  text-transform: uppercase;
  margin: 0 0 55px; }
  .title span {
    font-family: "Galano-Bold";
    display: block; }
  @media (max-width: 991px) {
    .title {
      padding-left: 40px; } }
  @media (max-width: 767px) {
    .title {
      font-size: 35px;
      line-height: 30px;
      padding: 0 30px; } }

.add-line {
  position: relative; }
  .add-line .line {
    position: absolute;
    height: 3px;
    width: 175px;
    background-color: #00aeef;
    bottom: -32px;
    left: 36px; }

@-webkit-keyframes arrowDown {
  from {
    top: 0px; }
  25% {
    top: -2px; }
  75% {
    top: 2px; }
  to {
    top: 0px; } }
@-moz-keyframes arrowDown {
  from {
    top: 0px; }
  25% {
    top: -2px; }
  75% {
    top: 2px; }
  to {
    top: 0px; } }
@keyframes arrowDown {
  from {
    top: 0px; }
  25% {
    top: -2px; }
  75% {
    top: 2px; }
  to {
    top: 0px; } }
@-webkit-keyframes circle {
  from {
    opacity: 1; }
  to {
    opacity: 0.2; } }
@-moz-keyframes circle {
  from {
    opacity: 1; }
  to {
    opacity: 0.2; } }
@keyframes circle {
  from {
    opacity: 1; }
  to {
    opacity: 0.2; } }
/*================================================
MAIN STYLES
================================================*/
body {
  font-family: "Galano";
  font-size: 14px;
  line-height: 25px;
  color: #ffffff; }

*, *:focus {
  outline: 0 !important; }

::-moz-selection {
  background-color: #00aeef;
  color: #ffffff; }

::selection {
  background-color: #00aeef;
  color: #ffffff; }

/*================================================
HEADER
================================================*/
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  font-family: "Galano-Bold";
  background: #000000;
  height: 60px;
  line-height: 60px;
  z-index: 20; }
  @media (min-width: 767px) and (max-width: 991px) {
    header .container {
      position: relative; } }

/*================================================
HOME PAGE
================================================*/
@media (min-width: 992px) {
  .home-page .scroll-section {
    height: 100vh !important; } }
@media (min-width: 992px) {
  .home-page .scroll-section:last-child {
    height: calc(100vh - 60px) !important;
    padding-bottom: 22px; } }
@media (max-width: 991px) {
  .home-page .scroll-section:last-child {
    padding-bottom: 22px; } }
@media (max-width: 767px) {
  .home-page .scroll-section:last-child {
    padding-bottom: 44px; } }
.home-page .svg-map {
  width: 100%;
  height: auto; }
  @media (min-width: 992px) {
    .home-page .svg-map {
      width: 80%;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%); } }
  .home-page .svg-map * {
    -webkit-transition: opacity 0.25s ease-in-out, fill 0.25s ease-in-out;
    -moz-transition: opacity 0.25s ease-in-out, fill 0.25s ease-in-out;
    transition: opacity 0.25s ease-in-out, fill 0.25s ease-in-out; }
  .home-page .svg-map .inner {
    cursor: pointer; }
  .home-page .svg-map text {
    font-family: "Galano-Italic";
    fill: #ffffff;
    font-size: 14px;
    font-weight: normal;
    text-transform: uppercase;
    cursor: pointer; }
  .home-page .svg-map circle {
    /*            -webkit-filter: drop-shadow(5px 5px 2px black);
                filter: drop-shadow(5px 5px 2px black);
                -webkit-filter: url(#dropShadow);
                filter: url(#dropShadow);*/
    cursor: pointer; }
  .home-page .svg-map g {
    /*                circle[fill*="rgba"]:nth-child(1) {
                        @include animation(circle 1s infinite alternate $r1 * 0.8 + 2s);
                    }*/
    /*                circle[fill*="rgba"]:nth-child(2) {
                        @include animation(circle 1s infinite alternate $r1 * 0.8 + 2s);
                    }*/
    /*                circle[fill*="rgba"]:nth-child(3) {
                        @include animation(circle 1s infinite alternate $r1 * 0.8 + 2s);
                    }*/
    /*                circle[fill*="rgba"]:nth-child(4) {
                        @include animation(circle 1s infinite alternate $r1 * 0.8 + 2s);
                    }*/
    /*                circle[fill*="rgba"]:nth-child(5) {
                        @include animation(circle 1s infinite alternate $r1 * 0.8 + 2s);
                    }*/
    /*                circle[fill*="rgba"]:nth-child(6) {
                        @include animation(circle 1s infinite alternate $r1 * 0.8 + 2s);
                    }*/
    /*                circle[fill*="rgba"]:nth-child(7) {
                        @include animation(circle 1s infinite alternate $r1 * 0.8 + 2s);
                    }*/
    /*                circle[fill*="rgba"]:nth-child(8) {
                        @include animation(circle 1s infinite alternate $r1 * 0.8 + 2s);
                    }*/
    /*                circle[fill*="rgba"]:nth-child(9) {
                        @include animation(circle 1s infinite alternate $r1 * 0.8 + 2s);
                    }*/
    /*                circle[fill*="rgba"]:nth-child(10) {
                        @include animation(circle 1s infinite alternate $r1 * 0.8 + 2s);
                    }*/
    /*                circle[fill*="rgba"]:nth-child(11) {
                        @include animation(circle 1s infinite alternate $r1 * 0.8 + 2s);
                    }*/
    /*                circle[fill*="rgba"]:nth-child(12) {
                        @include animation(circle 1s infinite alternate $r1 * 0.8 + 2s);
                    }*/
    /*                circle[fill*="rgba"]:nth-child(13) {
                        @include animation(circle 1s infinite alternate $r1 * 0.8 + 2s);
                    }*/
    /*                circle[fill*="rgba"]:nth-child(14) {
                        @include animation(circle 1s infinite alternate $r1 * 0.8 + 2s);
                    }*/
    /*                circle[fill*="rgba"]:nth-child(15) {
                        @include animation(circle 1s infinite alternate $r1 * 0.8 + 2s);
                    }*/
    /*                circle[fill*="rgba"]:nth-child(16) {
                        @include animation(circle 1s infinite alternate $r1 * 0.8 + 2s);
                    }*/
    /*                circle[fill*="rgba"]:nth-child(17) {
                        @include animation(circle 1s infinite alternate $r1 * 0.8 + 2s);
                    }*/
    /*                circle[fill*="rgba"]:nth-child(18) {
                        @include animation(circle 1s infinite alternate $r1 * 0.8 + 2s);
                    }*/
    /*                circle[fill*="rgba"]:nth-child(19) {
                        @include animation(circle 1s infinite alternate $r1 * 0.8 + 2s);
                    }*/
    /*                circle[fill*="rgba"]:nth-child(20) {
                        @include animation(circle 1s infinite alternate $r1 * 0.8 + 2s);
                    }*/
    /*                circle[fill*="rgba"]:nth-child(21) {
                        @include animation(circle 1s infinite alternate $r1 * 0.8 + 2s);
                    }*/
    /*                circle[fill*="rgba"]:nth-child(22) {
                        @include animation(circle 1s infinite alternate $r1 * 0.8 + 2s);
                    }*/
    /*                circle[fill*="rgba"]:nth-child(23) {
                        @include animation(circle 1s infinite alternate $r1 * 0.8 + 2s);
                    }*/
    /*                circle[fill*="rgba"]:nth-child(24) {
                        @include animation(circle 1s infinite alternate $r1 * 0.8 + 2s);
                    }*/ }
    .home-page .svg-map g:hover .inner {
      /*                    fill: $color-black;*/ }
    .home-page .svg-map g:hover text {
      fill: #00aeef; }
    .home-page .svg-map g[data-hover="false"] {
      opacity: 0.25; }
      .home-page .svg-map g[data-hover="false"] * {
        /* ^ for Firefox */
        /* ^ Webkit browsers */ }

@media (min-width: 991px) {
  .fx-section {
    opacity: 0;
    -webkit-transform-origin: 50% 0%;
    -moz-transform-origin: 50% 0%;
    -ms-transform-origin: 50% 0%;
    -o-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform: perspective(500px) rotateX(-10deg);
    -moz-transform: perspective(500px) rotateX(-10deg);
    -ms-transform: perspective(500px) rotateX(-10deg);
    -o-transform: perspective(500px) rotateX(-10deg);
    transform: perspective(500px) rotateX(-10deg);
    -webkit-transition: all 0.7s cubic-bezier(0.19, 1, 0.22, 1);
    -moz-transition: all 0.7s cubic-bezier(0.19, 1, 0.22, 1);
    transition: all 0.7s cubic-bezier(0.19, 1, 0.22, 1); }
    .fx-section.visible {
      -webkit-transform: perspective(500px) rotateX(0deg);
      -moz-transform: perspective(500px) rotateX(0deg);
      -ms-transform: perspective(500px) rotateX(0deg);
      -o-transform: perspective(500px) rotateX(0deg);
      transform: perspective(500px) rotateX(0deg);
      opacity: 1; } }
.fx-section .col-md-9 {
  height: 100%;
  padding-top: 100px;
  padding-bottom: 100px; }
  @media (max-width: 991px) {
    .fx-section .col-md-9 {
      height: auto !important;
      padding-top: 50px;
      padding-bottom: 50px; } }
@media (max-width: 991px) {
  .fx-section .bg-image, .fx-section .pr-large-image {
    /*            display: none;*/
    height: 300px !important;
    min-height: 0; } }

.no-js .fx-section {
  opacity: 1;
  -webkit-transform: none;
  -moz-transform: none;
  -ms-transform: none;
  -o-transform: none;
  transform: none; }

/*================================================
NAVIGATION
================================================*/
nav menu li a, #mobile-menu ul li a {
  color: #ffffff;
  text-transform: uppercase;
  font-family: "Galano-Bold";
  font-weight: normal;
  font-size: 14px; }
  nav menu li a:hover, #mobile-menu ul li a:hover, nav menu li a:focus, #mobile-menu ul li a:focus {
    color: #ffffff;
    text-decoration: none; }

nav menu {
  position: relative;
  float: right;
  font-size: 14px; }
  nav menu li {
    float: left;
    padding-left: 40px; }
    nav menu li.hover-line {
      margin: 0;
      padding: 0;
      position: absolute;
      bottom: 10px;
      height: 3px;
      width: 0px;
      background-color: #00aeef;
      -webkit-transition: all 0.8s cubic-bezier(0.19, 1, 0.22, 1);
      -moz-transition: all 0.8s cubic-bezier(0.19, 1, 0.22, 1);
      transition: all 0.8s cubic-bezier(0.19, 1, 0.22, 1); }
@media (max-width: 991px) {
  nav {
    display: none; } }

/*================================================
MOBILE MENU
================================================*/
#mobile-menu {
  display: block;
  position: fixed;
  height: 100vh;
  width: 25%;
  min-width: 300px;
  top: 60px;
  right: 0;
  background-color: #000000;
  padding: 60px 35px;
  z-index: 21;
  -webkit-transition: all 0.6s cubic-bezier(0.77, 0, 0.175, 1);
  -moz-transition: all 0.6s cubic-bezier(0.77, 0, 0.175, 1);
  transition: all 0.6s cubic-bezier(0.77, 0, 0.175, 1);
  -webkit-transform: translate(100%, 0);
  -moz-transform: translate(100%, 0);
  -ms-transform: translate(100%, 0);
  -o-transform: translate(100%, 0);
  transform: translate(100%, 0); }
  #mobile-menu.opened {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0); }
  @media (min-width: 992px) {
    #mobile-menu {
      display: none; } }
  #mobile-menu ul li a {
    display: inline-block;
    position: relative;
    line-height: 3; }
    #mobile-menu ul li a::after {
      position: absolute;
      content: "";
      bottom: 0;
      left: 0;
      height: 3px;
      width: 0%;
      background-color: #00aeef;
      -webkit-transition: all 0.8s cubic-bezier(0.19, 1, 0.22, 1);
      -moz-transition: all 0.8s cubic-bezier(0.19, 1, 0.22, 1);
      transition: all 0.8s cubic-bezier(0.19, 1, 0.22, 1); }
  #mobile-menu ul li a:hover::after, #mobile-menu ul li.active a::after {
    height: 3px;
    width: 100%; }

.c-hamburger {
  display: block;
  position: absolute;
  right: 0px;
  top: 50%;
  overflow: hidden;
  margin: -20px 0 0 0;
  padding: 0;
  height: 40px;
  width: 40px;
  font-size: 0;
  text-indent: -9999px;
  appearance: none;
  box-shadow: none;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  -webkit-transition: background 0.3s;
  -moz-transition: background 0.3s;
  transition: background 0.3s; }
  @media (min-width: 992px) {
    .c-hamburger {
      display: none; } }
  .c-hamburger:focus {
    outline: none; }
  .c-hamburger span {
    display: block;
    position: absolute;
    top: 50%;
    left: 5px;
    right: 5px;
    height: 3px;
    background: white;
    margin-top: -2px; }
    .c-hamburger span::before, .c-hamburger span::after {
      position: absolute;
      display: block;
      left: 0;
      width: 100%;
      height: 3px;
      background-color: #fff;
      content: ""; }
    .c-hamburger span::before {
      top: -10px; }
    .c-hamburger span::after {
      bottom: -10px; }

.c-hamburger--htx {
  background-color: #000000; }
  .c-hamburger--htx span {
    -webkit-transition: background 0s 0.3s;
    -moz-transition: background 0s 0.3s;
    transition: background 0s 0.3s; }
    .c-hamburger--htx span::before, .c-hamburger--htx span::after {
      -webkit-transition-duration: 0.3s, 0.3s;
      -moz-transition-duration: 0.3s, 0.3s;
      transition-duration: 0.3s, 0.3s;
      -webkit-transition-delay: 0.3s, 0s;
      -moz-transition-delay: 0.3s, 0s;
      transition-delay: 0.3s, 0s; }
    .c-hamburger--htx span::before {
      -webkit-transition-property: top, -webkit-transform;
      -moz-transition-property: top, -moz-transform;
      transition-property: top, transform; }
    .c-hamburger--htx span::after {
      -webkit-transition-property: bottom, -webkit-transform;
      -moz-transition-property: bottom, -moz-transform;
      transition-property: bottom, transform; }
  .c-hamburger--htx.is-active {
    background-color: #000000; }
    .c-hamburger--htx.is-active span {
      background: none; }
      .c-hamburger--htx.is-active span::before {
        top: 0;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
        -webkit-transition-delay: 0s, 0.3s;
        -moz-transition-delay: 0s, 0.3s;
        transition-delay: 0s, 0.3s; }
      .c-hamburger--htx.is-active span::after {
        bottom: 0;
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
        -webkit-transition-delay: 0s, 0.3s;
        -moz-transition-delay: 0s, 0.3s;
        transition-delay: 0s, 0.3s; }

/*================================================
SLIDER
================================================*/
#slider {
  height: 100vh !important;
  width: 100%;
  position: relative;
  overflow: hidden; }
  @media (max-width: 991px) and (orientation: portrait) {
    #slider {
      margin-top: 60px;
      height: -moz-calc(100vh - 60px) !important;
      height: -webkit-calc(100vh - 60px) !important;
      height: calc(100vh - 60px) !important; } }
  #slider .sl-content {
    text-align: left;
    max-width: 530px;
    position: absolute;
    top: 50%;
    left: 0;
    padding: 0 0 0 60px;
    -webkit-transform: translate(0%, 300%);
    -moz-transform: translate(0%, 300%);
    -ms-transform: translate(0%, 300%);
    -o-transform: translate(0%, 300%);
    transform: translate(0%, 300%);
    -webkit-transition: all 2s ease-in-out 0s;
    -moz-transition: all 2s ease-in-out 0s;
    transition: all 2s ease-in-out 0s; }
    @media (max-width: 991px) and (orientation: portrait) {
      #slider .sl-content {
        position: absolute;
        left: 50% !important;
        right: auto !important;
        text-align: center !important;
        float: none !important;
        padding: 0 !important; } }
    #slider .sl-content h2 {
      opacity: 0;
      position: relative;
      font-family: "Galano-Bold";
      font-size: 95px;
      font-weight: normal;
      color: #ffffff;
      text-transform: uppercase;
      line-height: 75px;
      -webkit-transform: translate(0, 20px);
      -moz-transform: translate(0, 20px);
      -ms-transform: translate(0, 20px);
      -o-transform: translate(0, 20px);
      transform: translate(0, 20px);
      -webkit-transition: all 0.8s cubic-bezier(0.77, 0, 0.175, 1) 0s;
      -moz-transition: all 0.8s cubic-bezier(0.77, 0, 0.175, 1) 0s;
      transition: all 0.8s cubic-bezier(0.77, 0, 0.175, 1) 0s; }
      #slider .sl-content h2.small {
        font-size: 75px;
        line-height: 30px; }
        #slider .sl-content h2.small span {
          font-size: 30px;
          line-height: 30px; }
        @media (min-width: 992px) {
          #slider .sl-content h2.small .line {
            position: relative;
            left: auto;
            bottom: auto;
            right: -205px;
            top: 10px; } }
      @media (max-width: 991px) {
        #slider .sl-content h2 {
          font-size: 40px;
          line-height: 32px; }
          #slider .sl-content h2.small {
            font-size: 35px;
            line-height: 16px; }
            #slider .sl-content h2.small span {
              font-size: 16px;
              line-height: 16px; } }
      #slider .sl-content h2 .line {
        opacity: 0;
        display: block;
        position: absolute;
        height: 3px;
        width: 177px;
        background-color: #ffffff;
        bottom: -35px;
        left: 34px;
        -webkit-transform: translate(0, 20px);
        -moz-transform: translate(0, 20px);
        -ms-transform: translate(0, 20px);
        -o-transform: translate(0, 20px);
        transform: translate(0, 20px);
        -webkit-transition: all 0.8s cubic-bezier(0.77, 0, 0.175, 1) 0s;
        -moz-transition: all 0.8s cubic-bezier(0.77, 0, 0.175, 1) 0s;
        transition: all 0.8s cubic-bezier(0.77, 0, 0.175, 1) 0s; }
        #slider .sl-content h2 .line::after {
          position: absolute;
          height: 3px;
          width: 0px;
          content: "";
          background-color: #00aeef;
          top: 0;
          left: 0;
          -webkit-transition: all 0.8s cubic-bezier(0.19, 1, 0.22, 1);
          -moz-transition: all 0.8s cubic-bezier(0.19, 1, 0.22, 1);
          transition: all 0.8s cubic-bezier(0.19, 1, 0.22, 1); }
        @media (max-width: 991px) and (orientation: portrait) {
          #slider .sl-content h2 .line {
            left: 50% !important;
            right: auto !important;
            bottom: -30px;
            margin-left: -88.5px; } }
    #slider .sl-content .sl-desc {
      color: #ffffff;
      text-transform: uppercase;
      line-height: 1;
      margin: 50px 0 0 15px;
      opacity: 0;
      -webkit-transform: translate(0, 20px);
      -moz-transform: translate(0, 20px);
      -ms-transform: translate(0, 20px);
      -o-transform: translate(0, 20px);
      transform: translate(0, 20px);
      -webkit-transition: all 0.8s cubic-bezier(0.77, 0, 0.175, 1) 0s;
      -moz-transition: all 0.8s cubic-bezier(0.77, 0, 0.175, 1) 0s;
      transition: all 0.8s cubic-bezier(0.77, 0, 0.175, 1) 0s; }
      @media (max-width: 991px) and (orientation: portrait) {
        #slider .sl-content .sl-desc {
          margin: 50px 0 0 0 !important; } }
  #slider .sl-block-left {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 50%; }
    #slider .sl-block-left .sl-content {
      float: right;
      text-align: right;
      left: auto;
      right: 0;
      padding: 0 60px 0 0;
      -webkit-transform: translate(0%, -300%);
      -moz-transform: translate(0%, -300%);
      -ms-transform: translate(0%, -300%);
      -o-transform: translate(0%, -300%);
      transform: translate(0%, -300%);
      -webkit-transition: all 2s ease-in-out 0s;
      -moz-transition: all 2s ease-in-out 0s;
      transition: all 2s ease-in-out 0s; }
      #slider .sl-block-left .sl-content h2 .line {
        left: auto;
        right: 34px; }
        #slider .sl-block-left .sl-content h2 .line::after {
          left: auto;
          right: 0; }
      #slider .sl-block-left .sl-content .sl-desc {
        margin: 50px 15px 0 0; }
  #slider.sl-transition .sl-block-left, #slider.sl-transition .sl-block-right {
    -webkit-transition: all 1s cubic-bezier(0.77, 0, 0.175, 1);
    -moz-transition: all 1s cubic-bezier(0.77, 0, 0.175, 1);
    transition: all 1s cubic-bezier(0.77, 0, 0.175, 1); }
  #slider .sl-block-right {
    position: absolute;
    top: 0;
    left: auto;
    right: 0;
    height: 100%;
    width: 50%; }
  @media (max-width: 991px) and (orientation: portrait) {
    #slider .sl-block-right, #slider .sl-block-left {
      height: 50vh;
      width: 100vw; }
    #slider .sl-block-right {
      top: 50%;
      right: auto;
      left: 0; } }
  #slider .slide, #slider .box-photo {
    position: relative;
    display: block;
    height: 100vh;
    width: 50vw;
    z-index: 5; }
    @media (max-width: 991px) and (orientation: portrait) {
      #slider .slide, #slider .box-photo {
        height: 50vh;
        width: 100vw;
        float: left; } }
    #slider .slide.active, #slider .active.box-photo {
      z-index: 10; }
      #slider .slide.active .sl-content, #slider .active.box-photo .sl-content {
        -webkit-transition: none;
        -moz-transition: none;
        transition: none;
        -webkit-transform: translate(0%, -50%);
        -moz-transform: translate(0%, -50%);
        -ms-transform: translate(0%, -50%);
        -o-transform: translate(0%, -50%);
        transform: translate(0%, -50%); }
        @media (max-width: 991px) and (orientation: portrait) {
          #slider .slide.active .sl-content, #slider .active.box-photo .sl-content {
            -webkit-transform: translate(-50%, -50%);
            -moz-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            -o-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); } }
        #slider .slide.active .sl-content h2, #slider .active.box-photo .sl-content h2 {
          opacity: 1;
          -webkit-transform: translate(0, 0);
          -moz-transform: translate(0, 0);
          -ms-transform: translate(0, 0);
          -o-transform: translate(0, 0);
          transform: translate(0, 0);
          -webkit-transition: all 0.8s cubic-bezier(0.77, 0, 0.175, 1) 0s;
          -moz-transition: all 0.8s cubic-bezier(0.77, 0, 0.175, 1) 0s;
          transition: all 0.8s cubic-bezier(0.77, 0, 0.175, 1) 0s; }
          #slider .slide.active .sl-content h2 .line, #slider .active.box-photo .sl-content h2 .line {
            opacity: 1;
            -webkit-transform: translate(0, 0);
            -moz-transform: translate(0, 0);
            -ms-transform: translate(0, 0);
            -o-transform: translate(0, 0);
            transform: translate(0, 0);
            -webkit-transition: all 0.8s cubic-bezier(0.77, 0, 0.175, 1) 0.3s;
            -moz-transition: all 0.8s cubic-bezier(0.77, 0, 0.175, 1) 0.3s;
            transition: all 0.8s cubic-bezier(0.77, 0, 0.175, 1) 0.3s; }
        #slider .slide.active .sl-content .sl-desc, #slider .active.box-photo .sl-content .sl-desc {
          opacity: 1;
          -webkit-transform: translate(0, 0);
          -moz-transform: translate(0, 0);
          -ms-transform: translate(0, 0);
          -o-transform: translate(0, 0);
          transform: translate(0, 0);
          -webkit-transition: all 0.8s cubic-bezier(0.77, 0, 0.175, 1) 0.5s;
          -moz-transition: all 0.8s cubic-bezier(0.77, 0, 0.175, 1) 0.5s;
          transition: all 0.8s cubic-bezier(0.77, 0, 0.175, 1) 0.5s; }
  #slider .box-photo {
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover; }
    #slider .box-photo::before {
      opacity: 0;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      content: "";
      background-color: rgba(0, 0, 0, 0.3);
      -webkit-transition: opacity 0.5s ease-in-out;
      -moz-transition: opacity 0.5s ease-in-out;
      transition: opacity 0.5s ease-in-out; }
    #slider .box-photo:hover::before {
      opacity: 1; }
    #slider .box-photo:hover .line::after {
      height: 3px;
      width: 100%; }
  #slider .sl-nav {
    position: absolute;
    top: 50%;
    right: 15px;
    -webkit-transform: translate(0%, -50%);
    -moz-transform: translate(0%, -50%);
    -ms-transform: translate(0%, -50%);
    -o-transform: translate(0%, -50%);
    transform: translate(0%, -50%);
    z-index: 15; }
    #slider .sl-nav li a {
      position: relative;
      display: block;
      overflow: visible;
      height: 10px;
      width: 10px;
      background-color: #ffffff;
      border-radius: 50%;
      margin: 12px 0; }
      #slider .sl-nav li a::after {
        opacity: 0;
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        height: 10px;
        width: 10px;
        border: 1px solid #ffffff;
        box-sizing: border-box;
        border-radius: 50%;
        -webkit-transform: scale(2);
        -moz-transform: scale(2);
        -ms-transform: scale(2);
        -o-transform: scale(2);
        transform: scale(2); }
      #slider .sl-nav li a:hover::after, #slider .sl-nav li a.active::after {
        opacity: 1; }

.rect-down {
  display: block;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -27px;
  height: 54px;
  width: 54px;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
  line-height: 54px;
  z-index: 16; }
  .rect-down img {
    position: relative; }
  .rect-down:hover img {
    -webkit-animation-name: arrowDown;
    -moz-animation-name: arrowDown;
    animation-name: arrowDown;
    -webkit-animation-duration: 0.5s;
    -moz-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    animation-iteration-count: infinite; }

/*================================================
PROPERTY LARGE IMAGE
================================================*/
.pr-large-image {
  position: relative;
  height: 100vh;
  width: 100%; }
  .pr-large-image::after {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    content: "";
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 3; }
  .pr-large-image .container {
    position: relative;
    height: 100vh; }
    .pr-large-image .container .property-title, .pr-large-image .container .item .property-item-content .property-square, .item .property-item-content .pr-large-image .container .property-square {
      position: absolute;
      top: 50%;
      left: 18px;
      font-family: "Galano-Alt-Bold";
      font-weight: normal;
      font-size: 95px;
      text-transform: uppercase;
      line-height: 80%;
      -webkit-transform: translate(0, -100%);
      -moz-transform: translate(0, -100%);
      -ms-transform: translate(0, -100%);
      -o-transform: translate(0, -100%);
      transform: translate(0, -100%);
      z-index: 5; }
      @media (max-width: 992px) {
        .pr-large-image .container .property-title, .pr-large-image .container .item .property-item-content .property-square, .item .property-item-content .pr-large-image .container .property-square {
          left: 50%;
          -webkit-transform: translate(-50%, -100%);
          -moz-transform: translate(-50%, -100%);
          -ms-transform: translate(-50%, -100%);
          -o-transform: translate(-50%, -100%);
          transform: translate(-50%, -100%); }
          .pr-large-image .container .property-title .line, .pr-large-image .container .item .property-item-content .property-square .line, .item .property-item-content .pr-large-image .container .property-square .line {
            left: 50%;
            -webkit-transform: translate(-50%, 0);
            -moz-transform: translate(-50%, 0);
            -ms-transform: translate(-50%, 0);
            -o-transform: translate(-50%, 0);
            transform: translate(-50%, 0); } }
      @media (max-width: 767px) {
        .pr-large-image .container .property-title, .pr-large-image .container .item .property-item-content .property-square, .item .property-item-content .pr-large-image .container .property-square {
          font-size: 55px; } }

/*================================================
PROPERTY CONTENT
================================================*/
.property-content {
  position: relative;
  line-height: 1;
  overflow: hidden;
  height: -khtml-calc(100vh - 60px) !important;
  height: -o-calc(100vh - 60px) !important;
  height: -moz-calc(100vh - 60px) !important;
  height: -webkit-calc(100vh - 60px) !important;
  height: calc(100vh - 60px) !important; }
  @media (max-width: 767px) {
    .property-content .property-left-side {
      display: none; } }
  .property-content h3 {
    font-family: "Galano-Bold";
    text-transform: uppercase;
    font-size: 35px;
    color: #ffffff;
    font-weight: normal; }
    .property-content h3.property-title, .property-content .item .property-item-content h3.property-square, .item .property-item-content .property-content h3.property-square {
      font-size: 25px;
      color: inherit;
      margin-top: 0;
      margin-bottom: 15px; }
  .property-content .property-right-side {
    position: absolute;
    top: 0;
    right: 0;
    width: 57%;
    height: 100%; }
    @media (max-width: 767px) {
      .property-content .property-right-side {
        position: static;
        width: 100%; } }

.property-menu {
  font-size: 16px; }
  .property-menu li {
    position: relative;
    padding: 15px 0; }
    .property-menu li a {
      color: #939598; }
      .property-menu li a:hover, .property-menu li a:focus {
        text-decoration: none; }
    .property-menu li:hover a, .property-menu li.active a {
      color: #ffffff; }
    .property-menu li::after {
      position: absolute;
      content: "";
      bottom: 0px;
      left: 0px;
      height: 3px;
      width: 0px;
      background-color: #00aeef;
      -webkit-transition: all 0.8s cubic-bezier(0.19, 1, 0.22, 1);
      -moz-transition: all 0.8s cubic-bezier(0.19, 1, 0.22, 1);
      transition: all 0.8s cubic-bezier(0.19, 1, 0.22, 1); }
    .property-menu li:hover::after, .property-menu li.active::after {
      height: 3px;
      width: 175px; }

.item {
  height: 100%;
  font-size: 16px;
  line-height: 125%; }
  .item .property-item-content {
    /*        overflow: hidden;*/
    color: #000000; }
    .item .property-item-content .property-container {
      position: relative;
      max-width: 595px;
      width: 100%;
      float: left;
      padding: 55px 0 55px 55px; }
      .item .property-item-content .property-container .prop-slider-nav {
        position: absolute;
        right: 0;
        top: 0;
        -webkit-transform: translate(0, -50%);
        -moz-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
        -o-transform: translate(0, -50%);
        transform: translate(0, -50%); }
        .item .property-item-content .property-container .prop-slider-nav .arrow {
          float: left; }
          .item .property-item-content .property-container .prop-slider-nav .arrow:first-child {
            margin-right: 2px; }
      @media (max-width: 767px) {
        .item .property-item-content .property-container {
          max-width: 100%;
          padding: 55px 15px; } }
    .item .property-item-content .property-address {
      max-width: 210px; }
    .item .property-item-content article > div {
      position: relative;
      border-bottom: 1px solid #000000; }
      .item .property-item-content article > div > * {
        margin-bottom: 15px; }
      .item .property-item-content article > div .button {
        position: absolute;
        right: 50px;
        bottom: 0; }
        @media (max-width: 767px) {
          .item .property-item-content article > div .button {
            right: 0; } }

/*================================================
PROPERTY SLIDER
================================================*/
.property-slider {
  height: 40%;
  width: 100%; }
  .property-slider .slick-track {
    height: 100%; }
  .property-slider > div {
    height: 100%;
    width: 100%; }
    .property-slider > div .bg-image, .property-slider > div .pr-large-image {
      height: 100%;
      width: 100%; }
  .property-slider .slick-arrow {
    position: absolute;
    top: 0;
    left: 0;
    border: none;
    background-color: transparent;
    font-size: 0; }

/*================================================
FOOTER
================================================*/
footer {
  font-family: Arial;
  line-height: 22px;
  font-size: 11px; }
  footer a {
    color: #ffffff; }
    footer a:hover {
      color: #ffffff; }
  @media (max-width: 767px) {
    footer .arrow {
      display: none; } }
  footer .container {
    position: relative; }
    footer .container .arrow {
      position: absolute;
      right: 0;
      top: -48px; }
  @media (max-width: 767px) {
    footer * {
      text-align: center !important; } }

/*# sourceMappingURL=main.css.map */
