.preloader, .property-preloader {
    opacity: 1;
    perspective: 800px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 19;
    pointer-events: none;
    background-color: #000;

    -webkit-transform-origin: center bottom;
    transform-origin: center bottom;

    -webkit-transform: scaleY(1);
    transform: scaleY(1);

    -webkit-transition: all 0.8s cubic-bezier(0.77, 0, 0.175, 1);
    transition: all 0.8s cubic-bezier(0.77, 0, 0.175, 1);
}

.preloader.preloader-hidden, .property-preloader {
    opacity: 0.5;

    -webkit-transform: scaleY(0);
    transform: scaleY(0);
}

.property-preloader {
    opacity: 0;
    position: absolute;
}

.property-preloader.action {
    -webkit-animation: property 2.2s cubic-bezier(0.77, 0, 0.175, 1);
    animation: property 2.2s cubic-bezier(0.77, 0, 0.175, 1);
}

.no-js .preloader, .no-js property-preloader {
    display: none;
}

.boxcube2 {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80px;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    -webkit-transform-origin: 40px 40px 0;
    transform-origin: 40px 40px 0;
    -webkit-transform-origin: 40px 40px 0;
    transform-origin: 40px 40px 0;
    -webkit-animation: spin 1.2s infinite ease-in-out;
    animation: spin 1.2s infinite ease-in-out;

    margin: -40px 0 0 -40px;
}
.boxcube2 div {
    position: absolute;
    width: 80px;
    height: 80px;
    color: white;
    text-align: center;
    line-height: 80px;
    font-size: 34px;
}
.preloader [class^="box"],
.property-preloader [class^="box"] {
    background-color: #fff;

    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../img/logo-small-black.png);
}
.boxfront {
    -webkit-transform: translateZ(40px);
    transform: translateZ(40px);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.boxback {
    -webkit-transform: translateZ(-40px) rotateY(180deg);
    transform: translateZ(-40px) rotateY(180deg);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.boxtop {
    -webkit-transform: rotateX(-90deg) translateY(-40px);
    transform: rotateX(-90deg) translateY(-40px);
    -webkit-transform-origin: top center;
    transform-origin: top center;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.boxbottom {
    -webkit-transform: rotateX(90deg) translateY(40px);
    transform: rotateX(90deg) translateY(40px);
    -webkit-transform-origin: bottom center;
    transform-origin: bottom center;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.boxleft {
    -webkit-transform: rotateY(270deg) translateX(-40px);
    transform: rotateY(270deg) translateX(-40px);
    -webkit-transform-origin: center left;
    transform-origin: center left;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.boxright {
    -webkit-transform: rotateY(-270deg) translateX(40px);
    transform: rotateY(-270deg) translateX(40px);
    -webkit-transform-origin: top right;
    transform-origin: top right;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.face2 {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.2;
}

@-webkit-keyframes spin {
    0% { 
        -webkit-transform: rotateY(0deg); 
    }
    60% { 
        -webkit-transform: rotateY(-360deg);
    }
    100% { 
        -webkit-transform: rotateY(-360deg);
    }
}

@keyframes spin {
    0% { 
        transform: rotateY(0deg); 
    }
    60% { 
        transform: rotateY(-360deg);
    }
    100% { 
        transform: rotateY(-360deg);
    }
}


@-webkit-keyframes property {
    0% { 
        opacity: 0.5;
        -webkit-transform: scaleY(0);
        
        -webkit-transform-origin: center bottom;
    }
    30% { 
        opacity: 1;
        -webkit-transform: scaleY(1);
        
        -webkit-transform-origin: center bottom;
    }
    70% {
        opacity: 1;
        -webkit-transform: scaleY(1);

        -webkit-transform-origin: center top;
    }
    100% { 
        opacity: 0.5;
        -webkit-transform: scaleY(0);
        
        -webkit-transform-origin: center top;
    }
}

@keyframes property {
    0% { 
        opacity: 0.5;
        transform: scaleY(0);
        
        transform-origin: center bottom;
    }
    30% { 
        opacity: 1;
        transform: scaleY(1);
        
        transform-origin: center bottom;
    }
    70% {
        opacity: 1;
        transform: scaleY(1);

        transform-origin: center top;
    }
    100% { 
        opacity: 0.5;
        transform: scaleY(0);
        
        transform-origin: center top;
    }
}
