$icon-font-path: "../fonts/bootstrap/";

//** Number of columns in the grid.
$grid-columns:              18 !default;
//** Padding between columns. Gets divided in half for the left and right.
$grid-gutter-width:         10px !default;

$container-large-desktop: (980px + $grid-gutter-width);