/*================================================
CLASSES
================================================*/
%main-transition {
    @include transition(all 0.25s ease-in-out);
}

%reset-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.bg-black {
    background-color: $color-black;
}

.bg-white {
    background-color: $color-white;
}

.bg-gray {
    background-color: $color-gray;
}

.bg-red {
    background-color: $color-red;
}

.bg-blue {
    background-color: $color-blue;
}

.bg-image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.button {
    $height: 38px;
    display: inline-block;
    position: relative;
    height: $height;
    line-height: $height;
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    color: $color-white;
    padding: 0 20px;
    background-color: rgba($color-black, 0.3);

    > span {
        position: relative;
    }

    &::before {
        @include position(absolute, 0 0 0 0);
        content: "";
        background-color: rgba($color-black, 0.3);

        opacity: 0;
        @include transform(scale(0));

        @include transition(all 0.4s cubic-bezier(0.77, 0, 0.175, 1));
    }

    &:hover, &:focus {
        color: $color-white;
        text-decoration: none;

        &::before {
            opacity: 1;
            @include transform(scale(1));
        }
    }
}


.arrow {
    position: relative;
    $size: 48px;
    display: block;
    @include size($size);
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    line-height: $size;

    /*    background-image: url(../img/rect-down.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 20px 12px;*/

    @extend %main-transition;

    z-index: 16;

    img {
        position: relative;
    }

    &::before {
        @include position(absolute, 0 0 0 0);
        background-color: rgba(0, 0, 0, 0.3);
        content: "";
        opacity: 0;
        @include transform(scale(0));

        @include transition(all 0.4s cubic-bezier(0.77, 0, 0.175, 1));
    }

    &::after {
        position: absolute;
        top: 50%;
        left: 50%;
        @include size(20px 12px);

        content: "";
        margin-left: -10px;
        margin-top: -6px;

        background-image: url(../img/rect-down.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 20px 12px;
    }

    &:hover {
        //background-color: rgba(0, 0, 0, 0.8);

        &::before {
            opacity: 1;
            @include transform(scale(1));
        }
    }

    &.arrow-left {
        @include transform(rotate(90deg));
    }

    &.arrow-right {
        @include transform(rotate(-90deg));
    }

    &.arrow-top {
        @include transform(rotate(180deg));
    }
}


.content {
    max-width: 490px;

    position: absolute;
    top: 50%;
    top: -webkit-calc(50% - 60px);
    top: calc(50% - 60px);
    right: 0;
    @include transform(translate(0, -50%));

    article {
        position: relative;
        margin: 0 60px 0 110px;
        padding-left: 40px;

        &::after {
            position: absolute;
            top: 10px;
            left: 0;
            content: "";
            width: 3px;
            height: 110px;
            background-color: $color-light-blue;
        }

        @media (max-width: 767px) {
            padding: 0 30px;
        }
    }

    &.right {
        float: right;
    }

    &.left {
        float: left;
        padding-left: 75px;
        left: 0;

        article {
            margin: 0 0px 0 85px;
        }
    }

    @media (max-width: 991px) {
        position: relative;
        @include transform(none);

        article {
            margin: 0 !important;
        }

        &.right, &.left {
            padding: 0;
            float: none;
        }
    }
}

.title {
    font-family: "Galano-Light";
    font-size: 45px;
    line-height: 40px;
    font-weight: normal;
    text-transform: uppercase;
    margin: 0 0 55px;

    span {
        font-family: "Galano-Bold";
        display: block;
    }

    @media (max-width: 991px) {
        padding-left: 40px;
    }

    @media (max-width: 767px) {
        font-size: 35px;
        line-height: 30px;
        padding: 0 30px;
    }
}

.add-line {
    position: relative;

    .line {
        position: absolute;
        @include size(175px 3px);
        background-color: $color-light-blue;
        bottom: -32px;
        left: 36px;
    }
}