@include font-face("Galano", "../fonts/Galano Grotesque/Galano Grotesque", $file-formats: otf woff);
@include font-face("Galano-Light", "../fonts/Galano Grotesque/Galano Grotesque Light", $file-formats: otf woff);
@include font-face("Galano-Bold", "../fonts/Galano Grotesque/Galano Grotesque Bold", $file-formats: otf woff);
@include font-face("Galano-Italic", "../fonts/Galano Grotesque/Galano Grotesque Italic", $file-formats: otf woff);
@include font-face("Galano-Alt-Bold", "../fonts/Galano Grotesque/Galano Grotesque Alt DEMO Bold", $file-formats: otf woff);