@include keyframes(arrowDown) {
    from {
        top: 0px;
    }
    25% {
        top: -2px;
    }
    75% {
        top: 2px;
    }
    to {
        top: 0px;
    }
}

@include keyframes(circle) {
    from {
        opacity: 1;
    }
    to {
        opacity: 0.2;
    }
}