/*================================================
SLIDER
================================================*/
#slider {
    height: 100vh !important;
    width: 100%;
    position: relative;
    overflow: hidden;

    @media (max-width: 991px) and (orientation: portrait) {
        margin-top: 60px;
        height: -moz-calc(100vh - 60px) !important;
        height: -webkit-calc(100vh - 60px) !important;
        height: calc(100vh - 60px) !important;
    }

    .sl-content {
        text-align: left;
        max-width: 530px;
        position: absolute;
        top: 50%;
        left: 0;
        padding: 0 0 0 60px;
        @include transform(translate(0%, 300%));
        @include transition(all 2s ease-in-out 0s);

        @media (max-width: 991px) and (orientation: portrait) {
            position: absolute;
            left: 50% !important;
            right: auto !important;
            text-align: center !important;
            float: none !important;
            padding: 0 !important;
        }

        h2 {
            opacity: 0;
            position: relative;
            font-family: "Galano-Bold";
            font-size: 95px;
            font-weight: normal;
            color: $color-white;
            text-transform: uppercase;
            line-height: 75px;

            @include transform(translate(0, 20px));
            @include transition(all 0.8s cubic-bezier(0.77, 0, 0.175, 1) 0s);

            &.small {
                font-size: 75px;
                line-height: 30px;

                span {
                    font-size: 30px;
                    line-height: 30px;
                }

                @media (min-width: 992px) {
                    .line {
                        position: relative;
                        left: auto;
                        bottom: auto;
                        right: -205px;
                        top: 10px;
                    }
                }
            }

            @media (max-width: 991px) {
                font-size: 40px;
                line-height: 32px;

                &.small {
                    font-size: 35px;
                    line-height: 16px;

                    span {
                        font-size: 16px;
                        line-height: 16px;
                    }
                }
            }

            .line {
                opacity: 0;
                display: block;
                position: absolute;
                @include size(177px 3px);
                background-color: $color-white;
                bottom: -35px;
                left: 34px;

                @include transform(translate(0, 20px));
                @include transition(all 0.8s cubic-bezier(0.77, 0, 0.175, 1) 0s);

                &::after {
                    position: absolute;
                    @include size(0px 3px);
                    content: "";
                    background-color: $color-light-blue;
                    top: 0;
                    left: 0;

                    @include transition(all 0.8s $ease-out-expo);
                }

                @media (max-width: 991px) and (orientation: portrait) {
                    left: 50% !important;
                    right: auto !important;
                    bottom: -30px;
                    margin-left: -88.5px;
                }
            }
        }

        .sl-desc {
            color: $color-white;
            text-transform: uppercase;
            line-height: 1;
            margin: 50px 0 0 15px;

            opacity: 0;
            @include transform(translate(0, 20px));
            @include transition(all 0.8s cubic-bezier(0.77, 0, 0.175, 1) 0s);

            @media (max-width: 991px) and (orientation: portrait) {
                margin: 50px 0 0 0 !important;
            }
        }
    }

    .sl-block-left {
        position: absolute;
        top: 0;
        left: 0;
        @include size(50% 100%);

        .sl-content {
            float: right;
            text-align: right;
            left: auto;
            right: 0;
            padding: 0 60px 0 0;

            @include transform(translate(0%, -300%));
            @include transition(all 2s ease-in-out 0s);

            h2 {
                .line {
                    left: auto;
                    right: 34px;

                    &::after {
                        left: auto;
                        right: 0;
                    }
                }
            }

            .sl-desc {
                margin: 50px 15px 0 0;
            }
        }
    }

    &.sl-transition .sl-block-left, &.sl-transition .sl-block-right {
        @include transition(all 1s cubic-bezier(0.77, 0, 0.175, 1));
    }

    .sl-block-right {
        position: absolute;
        top: 0;
        left: auto;
        right: 0;
        @include size(50% 100%);
    }

    @media (max-width: 991px) and (orientation: portrait) {
        .sl-block-right, .sl-block-left {
            height: 50vh;
            width: 100vw;
        }

        .sl-block-right {
            top: 50%;
            right: auto;
            left: 0;
        }
    }

    .slide {
        position: relative;
        display: block;
        @include size(50vw 100vh);
        z-index: 5;

        @media (max-width: 991px) and (orientation: portrait) {
            @include size(100vw 50vh);
            float: left;
        }

        &.active {
            z-index: 10;

            .sl-content {
                @include transition(none);
                @include transform(translate(0%, -50%));

                @media (max-width: 991px) and (orientation: portrait) {
                    @include transform(translate(-50%, -50%));
                }

                h2 {
                    opacity: 1;
                    @include transform(translate(0, 0));
                    @include transition(all 0.8s cubic-bezier(0.77, 0, 0.175, 1) 0s);

                    .line {
                        opacity: 1;
                        @include transform(translate(0, 0));
                        @include transition(all 0.8s cubic-bezier(0.77, 0, 0.175, 1) 0.3s);
                    }
                }

                .sl-desc {
                    opacity: 1;
                    @include transform(translate(0, 0));
                    @include transition(all 0.8s cubic-bezier(0.77, 0, 0.175, 1) 0.5s);
                }
            }
        }
    }

    .box-photo {
        position: relative;
        @extend .slide;
        background-position: center;
        background-repeat: no-repeat;
        -webkit-background-size: cover;
        background-size: cover;

        &::before {
            opacity: 0;
            @include position(absolute, 0 0 0 0);
            content: "";
            background-color: rgba(0, 0, 0, 0.3);

            @include transition(opacity 0.5s ease-in-out);
        }

        &:hover::before {
            opacity: 1;
        }

        &:hover {
            .line::after {
                @include size(100% 3px);
            }
        }
    }

    .sl-nav {
        @extend %reset-list;
        position: absolute;
        top: 50%;
        right: 15px;
        @include transform(translate(0%, -50%));
        z-index: 15;

        li {
            a {
                position: relative;
                display: block;
                overflow: visible;
                @include size(10px);
                background-color: $color-white;
                border-radius: 50%;
                margin: 12px 0;

                &::after {
                    opacity: 0;
                    position: absolute;
                    content: "";
                    top: 0;
                    left: 0;
                    @include size(10px);

                    border: 1px solid $color-white;
                    box-sizing: border-box;
                    border-radius: 50%;

                    @include transform(scale(2));
                }

                &:hover::after, &.active::after {
                    opacity: 1;
                }
            }
        }
    }
}

.rect-down {
    $size: 54px;
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -($size / 2);
    @include size($size);
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    line-height: $size;

    z-index: 16;

    img {
        position: relative;
    }

    &:hover {

        img {
            @include animation-name(arrowDown);
            @include animation-duration(0.5s);
            @include animation-iteration-count(infinite);
        }
    }
}