/*================================================
STYCKY FOOTER
================================================*/

body, html {
    height: 100%;
}

#page-wrap {
    position: relative;
    min-height: 100%;
    margin-bottom: -$footer-height;
}

#page-wrap:after {
    content: "";
    display: block;
}

footer, #page-wrap:after {
/*    height: $footer-height !important;*/
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: $color-black;
    
    z-index: 20;
}