$footer-height: 22px;


/* COLORS */
$color-black: #000000;
$color-white: #ffffff;

$color-blue: #004563;
$color-light-blue: #00aeef;
$color-red: #5f0012;
$color-gray: #595555;


/* SIZES */
$header-height: 60px;