@import "bourbon/_bourbon.scss";

@import "_variables.scss";
@import "_sticky_footer.scss";

@import "_fonts.scss";
@import "_classes.scss";

@import "_keyframes.scss";
/*================================================
MAIN STYLES
================================================*/
body {
    font-family: "Galano";
    font-size: 14px;
    line-height: 25px;
    color: $color-white;
}

*, *:focus {
    outline: 0 !important;
}

a {
    @extend %main-transition;
}

@include selection {
    background-color: $color-light-blue;
    color: $color-white;
}


/*================================================
HEADER
================================================*/
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    font-family: "Galano-Bold";
    background: $color-black;
    height: $header-height;
    line-height: $header-height;
    z-index: 20;

    .container {
        @media (min-width: 767px) and (max-width: 991px) {
            position: relative;
        }
    }
}

/*================================================
HOME PAGE
================================================*/
.home-page {
    .scroll-section {
        @media (min-width: 992px) {
            height: 100vh !important;
        }
    }
    .scroll-section:last-child {
        @media (min-width: 992px) {
            height: calc(100vh - 60px) !important;
            padding-bottom: 22px;
        }

        @media (max-width: 991px) {
            padding-bottom: $footer-height;
        }

        @media (max-width: 767px) {
            padding-bottom: $footer-height * 2;
        }
    }


    .svg-map {
        width: 100%;
        height: auto;

        @media (min-width: 992px) {
            width: 80%;
            position: absolute;
            top: 50%;
            left: 50%;
            @include transform(translate(-50%, -50%));
        }

        * {
            @extend %main-transition;
            @include transition(opacity 0.25s ease-in-out, fill 0.25s ease-in-out);
        }

        .inner {
            cursor: pointer;
        }

        text {
            font-family: "Galano-Italic";
            fill: $color-white;
            font-size: 14px;
            font-weight: normal;
            text-transform: uppercase;
            cursor: pointer;
        }

        circle {
            /*            -webkit-filter: drop-shadow(5px 5px 2px black);
                        filter: drop-shadow(5px 5px 2px black);
                        -webkit-filter: url(#dropShadow);
                        filter: url(#dropShadow);*/
            cursor: pointer;
        }

        g {
            &:hover {
                .inner {
                    /*                    fill: $color-black;*/
                }

                text {
                    fill: $color-light-blue;
                }
            }

            &[data-hover="false"] {
                opacity: 0.25;

                * {
                    //filter:url(#wherearemyglasses);
                    /* ^ for Firefox */
                    //-webkit-filter: blur(1px);  
                    /* ^ Webkit browsers */
                    //filter: blur(1px); 
                } 
            }
            
            @for $i from 1 through 24 {
                $r1: random();
                $r2: random();
                
/*                circle[fill*="rgba"]:nth-child(#{$i}) {
                    @include animation(circle 1s infinite alternate $r1 * 0.8 + 2s);
                }*/
            }
        }
    }
}


.fx-section {
    @media (min-width: 991px) {
        opacity: 0;
        @include transform-origin(50% 0%);
        @include transform-style(preserve-3d);
        @include transform(perspective(500px) rotateX(-10deg));

        @include transition(all 0.7s cubic-bezier(.19,1,.22,1));

        &.visible {
            @include transform(perspective(500px) rotateX(0deg));
            opacity: 1;
        }
    }

    .col-md-9 {
        height: 100%;
        padding-top: 100px;
        padding-bottom: 100px;

        @media (max-width: 991px) {
            height: auto !important;

            padding-top: 50px;
            padding-bottom: 50px;
        }
    }

    @media (max-width: 991px) {
        .bg-image {
/*            display: none;*/
            height: 300px !important;
            min-height: 0;
        }
    }
}

.no-js .fx-section {
    opacity: 1;
    @include transform(none);
}

/*================================================
NAVIGATION
================================================*/
%nav-link {
    color: $color-white;
    text-transform: uppercase;
    font-family: "Galano-Bold";
    font-weight: normal;
    font-size: 14px;

    &:hover, &:focus {
        color: $color-white;
        text-decoration: none;
    }
}

nav {
    menu {
        position: relative;
        float: right;
        font-size: 14px;
        @extend %reset-list;

        li {
            float: left;
            padding-left: 40px;

            a {
                @extend %nav-link;
            }

            &.hover-line {
                margin: 0;
                padding: 0;
                position: absolute;
                bottom: 10px;
                height: 3px;
                width: 0px;

                background-color: $color-light-blue;

                @include transition(all 0.8s $ease-out-expo);
            }
        }
    }

    @media (max-width: 991px) {
        display: none;
    }
}


/*================================================
MOBILE MENU
================================================*/
#mobile-menu {
    display: block;
    position: fixed;
    @include size(25% 100vh);
    min-width: 300px;
    top: $header-height;
    right: 0;
    background-color: $color-black;
    padding: 60px 35px;
    z-index: 21;

    @include transition(all 0.6s cubic-bezier(0.77, 0, 0.175, 1));
    @include transform(translate(100%, 0));

    &.opened {
        @include transform(translate(0, 0));
    }

    @media (min-width: 992px) {
        display: none;
    }

    ul {
        @extend %reset-list;

        li {
            a {
                display: inline-block;
                position: relative;
                line-height: 3;
                @extend %nav-link;

                &::after {
                    position: absolute;
                    content: "";
                    bottom: 0;
                    left: 0;
                    @include size(0% 3px);
                    background-color: $color-light-blue;
                    @include transition(all 0.8s $ease-out-expo);
                }
            }

            & a:hover, &.active a {
                &::after {
                    @include size(100% 3px);
                }
            }
        }
    }
}


.c-hamburger {
    display: block;
    position: absolute;
    right: 0px;
    top: 50%;
    overflow: hidden;
    margin: -20px 0 0 0;
    padding: 0;
    @include size(40px);
    font-size: 0;
    text-indent: -9999px;
    appearance: none;
    box-shadow: none;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    @include transition(background 0.3s);

    @media (min-width: 992px) {
        display: none;
    }

    &:focus {
        outline: none;
    }

    span {
        display: block;
        position: absolute;
        top: 50%;
        left: 5px;
        right: 5px;
        height: 3px;
        background: white;
        margin-top: -2px;

        &::before, &::after {
            position: absolute;
            display: block;
            left: 0;
            width: 100%;
            height: 3px;
            background-color: #fff;
            content: "";
        }

        &::before {
            top: -10px;
        }

        &::after {
            bottom: -10px;
        }
    }
}

.c-hamburger--htx {
    background-color: $color-black;

    span {
        @include transition(background 0s 0.3s);

        &::before, &::after {
            @include transition-duration(0.3s, 0.3s);
            @include transition-delay(0.3s, 0s);
        }

        &::before {
            @include transition-property(top, transform);
        }

        &::after {
            @include transition-property(bottom, transform);
        }
    }

    &.is-active {
        background-color: $color-black;

        span {
            background: none;

            &::before {
                top: 0;
                @include transform(rotate(45deg));
                @include transition-delay(0s, 0.3s);
            }

            &::after {
                bottom: 0;
                @include transform(rotate(-45deg));
                @include transition-delay(0s, 0.3s);
            }
        }
    }
}

@import "_slider.scss";



/*================================================
PROPERTY LARGE IMAGE
================================================*/
.pr-large-image {
    position: relative;
    @extend .bg-image;
    @include size(100% 100vh);

    &::after {
        @include position(absolute, 0 null null 0);
        @include size(100% 100vh);
        content: "";
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 3;
    }

    .container {
        position: relative;
        height: 100vh;

        .property-title {
            position: absolute;
            top: 50%;
            left: 18px;
            font-family: "Galano-Alt-Bold";
            font-weight: normal;
            font-size: 95px;
            text-transform: uppercase;
            line-height: 80%;

            @include transform(translate(0, -100%));

            z-index: 5;

            @media (max-width: 992px) {
                left: 50%;
                @include transform(translate(-50%, -100%));

                .line {
                    left: 50%;
                    @include transform(translate(-50%, 0));
                }
            }

            @media (max-width: 767px) {
                font-size: 55px;
            }
        }
    }
}

/*================================================
PROPERTY CONTENT
================================================*/
.property-content {
    position: relative;
    line-height: 1;
    overflow: hidden;
    height: -khtml-calc(100vh - 60px) !important;
    height: -o-calc(100vh - 60px) !important;
    height: -moz-calc(100vh - 60px) !important;
    height: -webkit-calc(100vh - 60px) !important;
    height: calc(100vh - 60px) !important;

    .property-left-side {
        @media (max-width: 767px) {
            display: none;
        }
    }


    aside {

    }

    h3 {
        font-family: "Galano-Bold";
        text-transform: uppercase;
        font-size: 35px;
        color: $color-white;
        font-weight: normal;

        &.property-title {
            font-size: 25px;
            color: inherit;
            margin-top: 0;
            margin-bottom: 15px;
        }
    }

    .property-right-side {
        position: absolute;
        top: 0;
        right: 0;
        width: 57%;
        height: 100%;

        @media (max-width: 767px) {
            position: static;
            width: 100%;
        }
    }
}

.property-menu {
    @extend %reset-list;
    font-size: 16px;

    li {
        position: relative;
        padding: 15px 0;

        a {
            color: #939598;

            &:hover, &:focus {
                text-decoration: none;
            }
        }

        &:hover, &.active {
            a {
                color: $color-white;
            }
        } 

        &::after {
            position: absolute;
            content: "";
            bottom: 0px;
            left: 0px;
            @include size(0px 3px);
            background-color: $color-light-blue;

            @include transition(all 0.8s $ease-out-expo);
        }

        &:hover::after, &.active::after {
            @include size(175px 3px);
        }
    }
}

.item {
    height: 100%;
    font-size: 16px;
    line-height: 125%;

    .property-item-content {
        /*        overflow: hidden;*/
        color: $color-black;

        .property-container {
            position: relative;
            max-width: 595px;
            width: 100%;
            float: left;
            padding: 55px 0 55px 55px;

            .prop-slider-nav {
                position: absolute;
                right: 0;
                top: 0;
                @include transform(translate(0, -50%));

                .arrow {
                    float: left;

                    &:first-child {
                        margin-right: 2px;
                    }
                }
            }

            @media (max-width: 767px) {
                max-width: 100%;
                padding: 55px 15px;
            }
        }

        .property-address {
            max-width: 210px;
        }

        .property-square {
            @extend .property-title;
        }

        article {

            > div {
                position: relative;
                border-bottom: 1px solid $color-black;

                > * {
                    margin-bottom: 15px;
                }

                .button {
                    position: absolute;
                    right: 50px;
                    bottom: 0;

                    @media (max-width: 767px) {
                        right: 0;
                    }
                }
            }
        }
    }
}

/*================================================
PROPERTY SLIDER
================================================*/
.property-slider {
    @include size(100% 40%);

    .slick-track {
        height: 100%;
    }

    > div {
        @include size(100%);

        .bg-image {
            @include size(100%);
        }
    }

    .slick-arrow {
        position: absolute;
        top: 0;
        left: 0;
        border: none;
        background-color: transparent;
        font-size: 0;
    }
}


/*================================================
FOOTER
================================================*/
footer {
    font-family: Arial;
    line-height: $footer-height;
    font-size: 11px;
    
    a {
        color: $color-white;
        &:hover {
            color: $color-white;
        }
    }
    .arrow {
        @media (max-width: 767px) {
            display: none;
        }
    }

    .container {
        position: relative;

        .arrow {
            position: absolute;
            right: 0;
            top: -48px;
        }
    }

    @media (max-width: 767px) {
        * {
            text-align: center !important;
        }
    }
}